<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',path='css/style.css') }}" />
</head>



<body>
    <p id="titulo">Historia de Fallout</p>

    <p class="textos">El Mundo de Fallout sigue una línea de tiempo que difiere de la historia del mundo real. Hasta la
        Gran Guerra en 2077, el mundo de Fallout estaba dominado por la cultura de la década de 1950, incluso con el
        avance tecnológico. La configuración del mundo de Fallout está fuertemente influenciada por la ciencia ficción
        de Los Mundos del Mañana, que fue publicada durante la Edad de Oro de la Ciencia Ficción</p>


    <ol>
        <p id="sumario">Sumario:</p>
        <li><a href="#titulo">Historia</a></li>
        <li><a href="#antes">Antes de la guerra</a></li>
        <li><a href="#despues">Despues de la guerra</a></li>
    </ol>

    <p class="titulos">Información general</p>

    <p class="textos">La Gran Guerra es el único evento que ha dado forma al mundo de Fallout en su forma actual. El 23
        de
        octubre de 2077, los Estados Unidos, China y otros países, se bombardean unos a otros con un rápido intercambio
        de misiles nucleares, que tuvo una duración de dos horas. La destrucción causada por la breve guerra nuclear fue
        asombrosa, la devastación ocasionada en los primeros momentos de la guerra no se comparan con todos los
        conflictos mundiales anteriores combinados. y los supervivientes de los impactos y las explosiones rápidamente
        sufireron las secuelas radioactivas.</p><br>

    <p class="textos">Los juegos de Fallout tienen lugar varios años después de la Gran Guerra, explicando como la
        humanidad lucha por
        sobrevivir e intentar reconstruir la civilización. Algunos grupos han conseguido sobrevivir a duras penas por
        encima del suelo, ya sea rapiñando en las ruinas quemadas de las ciudades o mediante la supervivencia y
        adaptación a mutaciones masivas. Las comunidades que fueron selladas en los Refugios subterráneos durante la
        guerra, ahora están surgiendo a repoblar el paisaje maldito. Tratando de organizar y mantener la raza humana,
        estos restos rotos de la civilización están amenazados por mutantes psicóticos, bandas de delincuentes,
        asaltantes, y todo tipo de criaturas hostiles. Los dos primeros juegos transcurren sobre todo en la zona
        conocida como la región central, donde las principales amenazas hasta ahora han sido el Maestro y el Enclave,
        mientras que el tercer juego tiene lugar en Yermo Capital, en la Costa Este. Una de las principales influencias
        del mundo de fallout es la saga de peliculas Mad Max, un mundo postapocaliptico y desertico en el cual lo que
        quedó de humanidad trata de sobrevivir enfrentados por los restos de la civilización, el estilo cyber punk sale
        directamente de alli. En fallout 2 la chaqueta de cuero es identica a la usada por el personaje Max en Mad Max
        2.</p>

    <p class="titulos">Historia</p>
    <p class="titulos2" id="antes">Antes de la guerra</p>
    <p class="textos">Es el siglo XXI en Norte América, envuelto en la era de la paranoia y la manía similar a la década
        de los 50. El Gobierno de los EE.UU. se fue convirtiendo en más y más mitiltarista y agresivo contra enemigos
        reales e imaginarios. El suministro de combustibles fósiles del mundo comenzó a secarse y la conversion a la
        energía nuclear se retrasó. La gente se desesperó.</p>

    <p class="textos">Las Naciones Unidas fracasaron en 2052 y los recursos naturales del planeta se acabaron,
        provocando que muchos
        países pequeños se fueran a la bancarrota financiera y al colapso rápidamente. Europa y el Oriente Medio fueron
        arrojados a una guerra larga y dilatada por el control de los pocos yacimientos productivos restantes de esa
        zona.</p>

    <p class="textos">A finales de 2053, los Estados Unidos cerró sus fronteras cuando se descubrió una nueva súper
        plaga, y un arma
        nuclear terrorista destruyó Israel. A principios de 2054, los EE.UU. respondieron con la creación del proyecto
        "Safe House". Este proyecto, financiado por bonos basura, fue responsable de crear grandes centros de acogida de
        supervivencia bajo tierra, comúnmente conocido como "Refugios".</p>

    <p class="textos">En 2060, los campos de petróleo de Oriente Medio se secaron, poniendo fin a la guerra europea. La
        Comunidad Europea pronto se disolvió en peleas, luchando por los últimos recursos restantes de la Tierra.</p>

    <p class="textos">En el invierno de 2066, China atacó Alaska sobre lo que probablemente fueran las últimas gotas de
        aceite en el mundo. Los EE.UU. respondieron con la fuerza, pero sería diez años despues, cuando el conflicto
        terminaría. En una maniobra desesperada, las dos superpotencias invadieron los países vecinos en un esfuerzo por
        reforzar sus escasos recursos. Los EE.UU. y la anexión de Canadá fue concluido en 2076. Canadá proporcionan el
        combustible para las necesidades militares de los EE.UU. y Alaska fue reclamada en 2077.

        En horas de la madrugada del sábado, el 23 de octubre 2077, el cielo estaba lleno de misiles nucleares. Nadie
        sabe quién comenzó la guerra, pero después de dos horas de duración de la devastación nuclear, a nadie le
        importaba.

        Debido a las frecuentes falsas alarmas, pocos llegaron a los Refugios cuando sonaron las sirenas. La mayoría de
        personas quedaron atrapadas fuera por el cierre de las puertas de los Refugios. El Enclave, los restos del
        gobierno de los Estados Unidos, se retiraron a salvo a en una plataforma petrolífera en el Océano Pacífico.</p>

    <p class="titulos2" id="despues">Después de la guerra</p>

    <p class="textos">La Gran Guerra convirtió la mayor parte del planeta en un desierto radiactivo. La población que no
        murió en el intercambio de armas nucleares (probablemente menos de la mitad del mundo) vivió en la oscuridad o
        la miseria durante décadas. Viviendo en bóvedas subterráneas o congelados en cámaras criogénicas, la humanidad
        ha perseverado. La mayoría de las personas fuera de los Refúgios fueron asesinados, y muchos de los que tuvieron
        la suerte (o mala suerte) lo suficiente para sobrevivir, mutaron. Los primeros efectos de la radiación se
        observaron en los supervivientes de alrededor de 2080. Las mutaciones ocurrían en humanos y animales por igual.
        Aquellos que sobrevivieron a los efectos de las mutaciones cambiaban permanéntemente. Las nuevas especies se han
        creado por todo el yermo. Entre ellos los temíbles necrófagos.

        Años después de que las bombas fueran lanzadas los Refugios empezaron a abrirse y sus habitantes surgieron para
        reconstruir la civilización destruida. La región central, que corresponde a la Costa Oeste y Sur Oeste de
        Estados Unidos, es una de las primeras áreas del mundo en el que la surgió una interacción significativa,
        ochenta años después de la guerra. Aunque muchas regiones del antiguo mundo civilizado se están despertando, la
        humanidad tiene un largo camino por recorrer si es que alguna vez se estabiliza.</p>

    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/rnb9oivC6Ac?si=r_N54uYHCGKmgaCK"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>

</html>