<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        background-image: url(https://images.mweb.bethesda.net/_images/DE_The_DOOM_Slayer_HERO_2_1920x870.jpg?c=true&f=jpg&h=605&w=1059&s=mKMjsCGqSSRfOUVjnAfY4zyiNLUMJT3BJRuK0s9VqMA);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .img {
        margin-left: 40%;
    }

    .img1 {
        margin-left: 30%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        background-color: white;
    }

    .container {
            height: 30%;
            width: 100%;
            align-items: center;
    }

    .text {
            float: left;
            width: 250px;
            height: 200px;
            margin-right: 50px;
            margin-left: 30%;
    }

    .image {
            float: right;
    }

    .container2 {
            height: 50%;
            width: 100%;
            align-items: center;
    }

    .text2 {
            float: left;
            width: 45%;
            height: 200px;
            margin-left: 30px;
    }

    .text3 {
            float:right;
            width: 45%;
            height: 200px;
            margin-right: 30px;
    }

    .container3 {
            height: 40%;
            width: 100%;
            align-items: center;
            margin-bottom: 55%;

    } 
        
    .image2 {
            float: left;
            margin-top: 8%;
            margin-left: 8%;
    }

    .text4 {
            float:right;
            width: 30%;
            height: 200px;
            margin-right: 16%;
            margin-top: 15%;
    }

    .container4 {
            height: 40%;
            width: 100%;
            align-items: center;
            margin-bottom: 35%;
    } 

    .text5 {
            float: left;
            width: 45%;
            height: 200px;
            margin-left: 30px;
    }
        
    .image3 {
            float: right;
            margin-top: 0%;
            margin-right: 10%;
    }

    .container5 {
            height: 40%;
            width: 100%;
            align-items: center;
            margin-top: 5%;
            margin-bottom: 60%;
    }

    .text6 {
            float:right;
            width: 45%;
            height: 200px;
            margin-right: 30px;
            margin-top: 5%;
    }
        
    .image4 {
            float: left;
            margin-top: 0%;
            margin-left: 10%;
    }
    
    .container6 {
            height: 40%;
            width: 100%;
            align-items: center;
            margin-bottom: 50%;
    }

    .text7 {
            float:right;
            width: 40%;
            height: 200px;
            margin-right: 30px;
    }

    .text8 {
            float: left;
            width: 40%;
            height: 200px;
            margin-left: 30px;
    }
</style>

<body>
    <p style="color: white; text-align: center; font-size: 80px; margin-top: 10px">Todo sobre la historia de doom</p>

    <div class="container">
    
        <div class="text">
    
            <p style="color: white;">Eres uno de los más fuertes y mejor entrenados marines de la Tierra, experimentado en
        combate y listo para la acción. Hace 3 años golpeaste a un oficial superior por ordenar a sus soldados disparar
        contra un grupo de
        manifestantes civiles. Considerándote como peligroso, decidieron transportarte a la base en Marte... sector
        espacial de la UAC (Union Aerospace Corporation) .</p>
    
        </div>

        <div clas="image">

            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8d3cea73-e78d-4785-b48a-e9f25a7adc23/de8htcx-e324394b-a0fa-40ac-8cf1-b4e74fda5922.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhkM2NlYTczLWU3OGQtNDc4NS1iNDhhLWU5ZjI1YTdhZGMyM1wvZGU4aHRjeC1lMzI0Mzk0Yi1hMGZhLTQwYWMtOGNmMS1iNGU3NGZkYTU5MjIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gmTmaT8ex_poqJkkH6KCoJhpGBx8Uv4odDdHyo8R8-A"
            alt="Trulli" width="300" height="233"  class="imga">

        </div>
    </div>
    <div class="container2">

        <div class="text2">
        <p style="color: white;"> La UAC es una conglomeración multi-planetaria con instalaciones de desechos radioactivos
        en Marte y sus dos lunas, Fobos y Deimos. Tus primeros días la pasaste sentado en la sala de vigilancia, viendo
        videos restringidos
        y material ultrasecreto como si fuera TV por cable, no habiendo mucha acción allí.</p>

        <p style="color: white;"> Secretamente, la UAC, entre otras cosas, desarrollaba muchos proyectos militares en Marte
        y sus dos lunas. Una y la más problemática era la teletransportación interdimensional, pero hasta ahora solo se
        había podido abrir un
        teletransportador entre Fobos y Deimos. Se probó a lanzar artefactos por un lado y verlos salir por el otro,
        pero en algún momento se necesitó de humanos para experimentar. Voluntarios militares y científicos se
        ofrecieron... pero al entrar por el portal comenzaron a suceder cosas desconcertantes: o entraban y simplemente
        no se rematerializaban en el teletransportador de destino, o regresaban muertos con extraños síntomas en el
        cuerpo (mordeduras, piel seca y quemada, algunos aparecían descuartizados), o algunos llegaban completamente al
        borde de una esquizofrenia psicótica, cual zombies de película, masticando la mitad de sus dedos, o habiéndose
        tragado sus propios ojos, a la vez que otros pocos al cruzar por el teletransportador sufrían una explosión
        inexplicable de cuerpo completo.</p>

        </div>

        <div class="text3">

        <p style="color: white;">El trabajo de identificar partes de cuerpos que fueran compatibles unas con otras se había
        convertido en una labor de 24 horas. Aparte de dichos acontecimientos, la UAC anunciaba alguno que otro retraso,
        pero que lo demás
        iba bien.</p>

        <p style="color: white;"> Ya habiendo pasado algún tiempo, repentinamente Marte recibió un mensaje desde Fobos
        "¡Requerimos de soporte militar inmediato! ¡Algo terrible y monstruoso está saliendo por los portales! ¡Los
        sistemas no responden! Los
        sistemas computarizados se han vuelto locos!" El resto era simplemente incoherente.</p>

        <p style="color: white;">Poco después, Deimos simplemente se desvaneció del espacio. Desde ese momento, ha habido
        varios intentos de establecer conexión con alguna de las lunas, sin éxito. Como último recurso, tu y tus
        compañeros, son enviados a
        Fobos para ver que es lo que está pasando. Al llegar, tu primera orden es esperar en la entrada y asegurar el
        perímetro mientras los demás efectivos entraban a la base llevándose las armas de alto calibre. Por muchas
        horas, tu radio sólo recibe sonidos de combate: disparos, hombres gritando órdenes, gritos de auxilio, algo que
        podría identificarse como huesos y cartílagos quebrantándose, y por fin, el espectral silencio...</p>

        </div>
    </div>
    <div class="container3">

        <div class="image2">
        <img src="https://img.redbull.com/images/c_crop,x_674,y_0,h_1080,w_810/c_fill,w_450,h_600/q_auto:low,f_auto/redbullcom/2020/4/21/peaorvdegtzmisbsz4xo/doom-eternal"
        alt="Trulli" width="500" height="433" class="imgb">
        </div>

        <div class="text4">

    <p style="color: white;">Tus compañeros están muertos. Te decides a entrar por la puerta de la base, algo no esta
        bien, al dar la vuelta te das cuenta de que lo que mató a tus compañeros merece más de 2 escopetazos a la
        cabeza...</p>

    <p style="color: white;">Dentro de ti algo te dice que sea lo que sea que esas cosas son, saben que estas allí. Ya
        no hay vuelta atrás... todo depende de ti y de tu mente.</p>
        
        </div>
    </div>

    <p style="color: white; font-size: 80px; ">Juegos Doom</p>

<div class="container4">

    <div class="text5">

    <p style="color: white;">Los Juegos Doom originales creados por Id Software fueron Doom (con su versión shareware,
        Doom: Knee-Deep in the
        Dead) y su continuación Doom II. Luego, Doom fue ampliado por una parte del equipo de id Software y lanzado como
        The Ultimate Doom y un par de megaWADs de miembros de la comunidad de fans se publicaron en formato IWAD
        completo por id Software como Final Doom, como una continuación semi-oficial de los juegos.</p>

    <p style="color: white;"> juegos de Doom fueron desarrollados originalmente en ordenadores con sistema operativo
        NeXT, liberados para
        MS-DOS y posteriormente fueron exportados gradualmente a otros sistemas.</p>

    <p style="color: white;">Los juegos originales de Doom se distinguen fácilmente de la nueva serie de juegos de id
        Software que comienza a
        partir de Doom 3. El nombre "Doom clásico" se puede aplicar para hacer esta distinción de los juegos más
        recientes asociados a la franquicia, tal como se utiliza en el nombre del mod Classic Doom para Doom 3.</p>

</div>

        <div class="image3">

    <img src="https://oramind.com/content/images/size/w960/2020/08/doom-560.jpg"
        alt="Trulli" width="500" height="333" class="imgc">

        </div>
    </div>
    <div class="container5">
<div class="text6">

    <p style="color: white;">Doom 2016 (el siguiente paso de lo que no llegó a plasmarse como Doom 4) es un videojuego
        FPS (First Person Shooter o disparos en primera persona), que constituye un reinicio de la serie de Doom.</p>

    <p style="color: white;">El juego está disponible actualmente para Windows, PS4, Xbox One y Nintendo Switch. El
        juego se agregó al
        servicio de transmisión Google Stadia el 18 de agosto de 2020.</p>

    </div>

<div class="image4">

    <img src="https://cdn.akihabarablues.com/wp-content/uploads/2016/04/doom.jpeg" alt="Trulli" width="500" height="333"
        class="imgd">

    </div>
</div>

    <p style="color: white; font-size: 80px; ">Doom Guy</p>

    <div class="container6">

        <div class="text7">
    <p style="color: white;">El protagonista de Doom (a menudo llamado Doomguy por los fans, y ahora oficialmente en
        Doom Eternal) es el
        personaje principal del juego clásico Doom y sus secuelas o ramificaciones. También es conocido como el Marine
        de Doom o simplemente el Marine, el Doom Slayer en Doom (2016) y Doom Eternal, así como nuestro héroe al final
        de Doom II y Doom 64. En todos los juegos, este protagonista es un marine futurista al que nunca se hace
        referencia específicamente por su nombre.

        En Doom 3 es el jugador quien decide su nombre; aunque siempre es mencionado simplemente como "Marine" por el
        resto de los personajes, no tiene por que ser necesariamente el mismo personaje en todos los juegos, aunque
        siempre tiene un aspecto similar. La subserie de juegos de Doom 3 incluye una variedad de protagonistas
        separados.

        Sin duda el protagonista de Doom y de Doom II es el mismo, pero se desconoce si es el mismo de Doom 3,
        principalmente por los cambios sufridos debidos a los avances gráficos.

        Una forma diferente de hacer referencia a cada protagonista es como "el jugador", aunque se trata de una
        denominación técnica similar a la del personaje del jugador en los juegos de rol.

        El Doomguy no tiene nombre real, ya que, de acuerdo con John Romero, "el protagonista se supone que es USTED".
        El único juego que le da un nombre al marine es Doom RPG y él es una de las tres opciones de personaje a todos
        los que se dice que son marines.</p>

    <p style="color: white;">Lo único que se sabe sobre la vida del protagonista antes de los acontecimientos de los
        juegos de Doom es que estaba destinado en la base de Marte porque había agredido a un oficial superior que le
        ordenó disparar contra civiles inocentes. Tenía una coneja como mascota llamada Daisy, aunque fue abandonada en
        la Tierra por razones no explicadas. En la historia introductoria de TNT: Evilution, el manual de Final Doom
        afirma que el marine es parte del Cuerpo de Marines Espaciales.

        En Wolfenstein RPG se da a entender que el Doomguy original es un descendiente de William "BJ" Blazkowicz
        destinado a enfrentarse y finalmente derrotar al Harbinger of Doom (más tarde conocido como el Ciberdemonio),
        después de que Blazkowicz destruyera con éxito su brazo izquierdo y su pierna derecha en el Castillo Wolfenstein
        durante la Segunda Guerra Mundial. Este punto de la trama tiene un seguimiento posterior en Doom II RPG. La idea
        de que el protagonista de Doom sea descendiente de Blazkowicz a través de su nieto Billy Blaze es un elemento
        cuasi canónico de la historia de la serie que a menudo es apoyado y mencionado tanto por John Romero como por
        Tom Hall.
    </p>
</div>

    <div class="text8">
    <p style="color: white;">En los primeros juegos Doom, Doom II y Doom RPG, el personaje es retratado aproximadamente
        igual. La portada de
        la caja original lo muestra como un hombre bastante musculoso con una armadura verde y un casco espacial marrón
        claro que oculta parcialmente sus rasgos faciales. El avatar del jugador que se ve en el modo multijugador y al
        final de Doom II, se basa en esta descripción.

        La cara de la barra de estado.
        La cara del Marine aparece al centro de la barra de estado del juego, donde se lo muestra con el pelo castaño
        claro y un corte de pelo militar. También aparece con la cabeza descubierta en la pantalla de títulos de Doom II
        y en la pantalla final de The Ultimate Doom, pero en ambos casos mostrando un corte de pelo más inusual y
        vistiendo una armadura y pantalones de un tono verde más oscuro.

        Su personalidad nunca es evaluada en ningún forma en ninguno de los juegos, aunque parece tener una fuerte línea
        moral, ya que fue su negativa a disparar contra civiles y el posterior ataque contra su oficial que dio la
        orden, es lo que lo envía a Marte.

        Sin embargo, se podría decir que le apasiona luchar contra las hordas del infierno ya que, después de que recoge
        una nueva arma, la cara de la barra de estado sonríe diabólicamente y también aprieta los dientes intensamente
        cuando dispara un arma continuamente. Cuando recibe daño, aprieta los dientes con ira y dolor, y por lo demás
        sus ojos están moviéndose de forma constante y alerta de un lado a otro.

        En Doom 3, su apariencia es más o menos consistente con los juegos clásicos, excepto que sus rasgos faciales no
        están ocultos, ya que no usa casco. Su físico también tiene un aspecto algo menos poderoso, aunque todavía es
        muy musculoso. Tiene el pelo negro y parece tener una edad entre los veinte y principios de los treinta.
    </p>
</div>
</div>

    <p style="color: white;">Los infantes de marina de Doom tienen impresionantes habilidades acrobáticas. Ellos pueden
        correr a la friolera
        de 92 Km por hora sin perder resistencia, caer desde grandes alturas sin hacerse daño y llevar una gran cantidad
        de cohetes y otras municiones sin cansarse.

        La introducción del salto y los controles "pato" en las portaciones (source ports) como ZDoom y Skulltag, parece
        aplastar los rumores generalizados de la década del '90 de que el marine de Doom era un parapléjico que se
        transporta a sí mismo en una silla de ruedas propulsada por cohetes.

        <img src="https://qph.cf2.quoracdn.net/main-qimg-c124e649fcc0f98fc87e672caa25d42d-lq" alt="Trulli" width="500"
            height="333" class="img1" ><br>
        En Doom y Doom II, el marine parece ser zurdo: además de llevar sus armas en la mano izquierda, golpea con el
        puño izquierdo. Sin embargo, esto se contradice con la portada de The Ultimate Doom, donde se lo ve disparando
        su Pistola con la mano derecha, mientras que agarra el aire con su izquierda. Curiosamente, la versión de la
        tapa dentro del juego muestra una copia casi exacta de la cubierta física, pero tiene al marine de Doom con su
        arma en la mano izquierda también. Lo más probable es que el marine sea ambidiestro ya que se lo ve operar las
        Escopetas con la mano derecha en el gatillo.

        En Doom 3, el marine es diestro, con todas las armas apareciendo en el lado derecho de la pantalla. Esto puede
        deberse al hecho de que la mayoría de los shooters tienen jugadores diestros, y que introducir un personaje
        zurdo podría haber desorientado a los jugadores.
    </p>

    <p style="color: white; font-size: 80px; ">Wikigun Doom</p>

    <table style="width:100%">
        <tr>
            <th>Imagen arma </th>
            <th>características</th>
            <th>Daño Armas</th>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-1.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Rifle de combate</td>
            <td>El rifle de combate es la primera arma que recibes en el juego y es un arma pesada desde el principio.
                Hace explotar a los enemigos de cerca y causa una gran cantidad de daño. Hay dos modificaciones: Sticky
                Bomb y Complete Auto</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-3.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Cañon pesado</td>
            <td>Puedes disparar mucho más lejos que el rifle de combate y probablemente solo alcanzarás un objetivo,
                pero tu oponente sentirá esa potencia de fuego más pesada. Viene con un rango de bombardeo de misiles
                modificado</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-5.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Rifle de plasma</td>
            <td> el rifle de plasma es una gran herramienta para bajarlo inmediatamente e incluso detonarlo. Es un arma
                de fuego rápido, similar al chaingun, y sigue siendo una excelente opción de respaldo. Tiene una
                configuración de microondas que, cuando se enfoca en un oponente, hace que se quede quieto mientras lo
                cocinas lentamente, luego explota, dañando a los demás a su alrededor.</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-8.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Lanzacohetes</td>
            <td>El lanzacohetes está en la misión Cultist Base donde estás a punto de luchar contra los demonios
                Mancubus, en una repisa. Viene con dos modificaciones: detonación remota y bloqueo. Con la detonación
                remota, puede disparar el cohete y luego decidir el mejor momento para dispararlo, alcanzando múltiples
                objetivos.</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-10.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Super Escopeta</td>
            <td>La escopeta que convirtió a Doom en el tipo que es. Es una escopeta pesada de doble cañón que inflige
                una gran cantidad de daño a corta distancia a los oponentes. No tiene dos modificaciones, solo un
                parámetro, que es un gancho. Puede usar este gancho para afilar un objetivo y conducir directamente
                hacia él</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-12.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Balista</td>
            <td>Al igual que el rifle de plasma, Ballista usa células de energía y causa daño preciso contra escudos y
                otros monstruos demoníacos. Para aquellos que sienten que necesitan usar una ballesta durante el
                combate, esta es una gran alternativa. Tiene dos modificaciones: la ballesta y las cuchillas
                destructoras. La ballesta carga el arma, disparando un tiro concentrado que explota poco después del
                impacto. </td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-13.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>Ametralladora</td>
            <td>Cuando quieras lanzar una andanada de balas contra una horda de demonios, el chaingun te respalda.
                Utiliza munición pesada, similar al cañón pesado, pero los dispara mucho más rápido. Tiene dos
                modificaciones: una forma de torreta y un escudo de energía. Mientras usa la torreta, permanece en un
                lugar y dispara una serie de balas más enfocadas contra un oponente. La configuración del escudo de
                energía coloca una barrera protectora frente a ti, lo que te permite disparar demonios.</td>
        </tr>
        <tr>
            <td><img src="https://www.androidbasement.com/images/posts/6e653e3a4b968dff7ae62fed84f9eb60-15.jpg"
                    alt="Flowers in Chania" width="150" height="65"></td>
            <td>BFG-9000</td>
            <td>El BFG. La icónica pistola Condemn. Es un arma poderosa que puedes desatar contra la horda de demonios y
                hace un trabajo increíble. Cuando le disparas, lanza una gran bola verde que se mueve lentamente por el
                campo de batalla, extendiendo sus zarcillos para bloquear y matar de inmediato a cualquier demonio que
                toque. Hay un puñado de enemigos que no hacen daño, así que no siempre confíes en ellos para salir de
                una situación problemática.</td>
        </tr>
    </table>
<a class="nav-link" href="{{ url_for('index') }}" id="salir">Salir del infierno</a>
</body>

</html>